.comp {
  display:flex;
  color:green;
  font-size:44px;
  justify-content:center;
}

.message {
  order:2;
  color:red;
  background-color:blue;
  font-size:24px;
}

.end {
  order:1; 
  color:magenta;
  font-size:50px;
}
